[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "wrapper"]
	path = wrapper
	url = https://github.com/flathub/ide-flatpak-wrapper.git
[submodule "tools"]
	path = tools
	url = https://github.com/flatpak/flatpak-builder-tools.git
